:root {
	--background: #262626;
	--foreground: #ededed;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

html {
	color-scheme: dark;
}

.main-content {
	position: fixed;
	left: 280px;
	top: 0;
	width: calc(100% - 280px);
	height: 100vh;
	overflow-y: auto;
	overscroll-behavior: contain;
}

