$this: ".home";

#{$this} {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	background-color: #262626;

	&__title {
		font-size: 2.5rem;
		font-weight: 700;
		margin-bottom: 1rem;
		color: var(--foreground);
	}

	&__description {
		font-size: 1.125rem;
		margin-bottom: 3rem;
		color: var(--foreground);
		opacity: 0.8;
	}
}